html
  head
    title Budgie  - Your friendly budget buddy
    script(src="https://unpkg.com/axios@0.18.0/dist/axios.min.js")

    script.
        console.log('hello there 👋')

  body
    block content
